* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #404040;
  color: white;
  font-family: "Poppins", sans-serif;
  max-height: 100vh;
  max-width: 99vw;
}

.general-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
  color: white !important;
  background-color: #76BCF5 !important;
}

.nav-link.active {
  color: white !important;
  background-color: #3B5A75 !important;
}

.feeling-btn.btn-primary:hover{
  background-color: #3B5A75 !important;
}
.feeling-btn.btn-primary:focus{
  background-color: #3B5A75;
}
.feeling-btn.btn-primary:active{
  background-color: #3B5A75;
}



/* width should be 100/# tab elements % */
.tab-selector {
  width: 12%;
  text-align: center;
  opacity: 0.9;
  border-radius: 1rem;
  margin: 0.05rem;
}

.flex-row{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 10vh;
  font-size: 36px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
}

.main-tab {
  font-size: 24px;
  text-align: center;
  border: 5rem;
}

.feeling-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #76bcf5;
  width: 15rem;
  height: 10rem;
  border-radius: 10%;
  margin: 6rem 1.5rem 6rem 1.5rem;
  color: white;
}

.crimson-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background: #b04341;
  width: 12rem;
  height: 5rem;
  border-radius: 10%;
  margin-bottom: 5rem;
  color: white;
}
.ripple-text {
  text-align: center;
  font-size: 1.8rem;
}

.selected-feelings {
  font-size: 3rem;
}

.breathe-text {
  font-size: 5rem;
  margin-top: 5rem;
}

.plan-textarea {
  width: 80%;
}

.plan-text {
  margin-top: 5rem;
}

textarea {
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.handwriting-area {
  font-family: "Indie Flower";
  font-size: 3rem;
  overflow:hidden;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.feelings-sliders{
  margin-top: 2rem;
}

.feelings-container {
  margin: 0rem 20rem 0rem 20rem;
}

.feeling-bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FF8682;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  margin: 2rem 2rem 2rem 2rem;
  position: relative;

}

.feeling-bubble-text {
  color: white;
  overflow: hidden;
  font-size: 2rem;
  font-family: "Indie Flower";
  position: relative;
  top: 2rem;
}

.row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.xlarge-text {
  font-size: 5rem;
}

.large-text {
  font-size: 3rem;
}

.medium-text {
  font-size: 2rem;
}

.small-text {
  font-size: 1.5rem;
  margin-top: 3rem;
}

.menu-container {
  position: relative;
  display: flex;
  justify-content: left;
  padding: 0;
  margin: 0;
  left: 3rem;
}

.feelings-history {
  color: #FF8682;
}

.timestamp-history {
  color: #80FF8A;
}

.quote {
  font-family: "Jim Nightshade";
  margin: 5rem;
  font-size: 8rem;
}

.text-small {
  margin-top: 1rem;
  font-size: 0.5 rem;
}

.plans-history {
  font-size: 1.5rem;
}

.history-container {
  width: 80%;
}

.links {
  color: #76BCF5;
  font-size: 1.5rem;
}